main, header {
	width: 1200px;
	margin: 0 auto;
}

nav {	
	display: inline-block;
}

ul {
	padding-left: 0px;
}

ul li {
	background-color: #ccc;
	border-radius: 0.5em;
	list-style-type: none;	
	float: left;
	padding: 0 5px;
	margin-right: 10px;

}

ul li a {
	text-decoration: none;
}